<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>
    Hello world;Spot detail！！！
</h1>
<p th:text="'aaaa'+${context.request().params().get('id')}">阿萨德发啥疯</p>
<p th:text="${context.request().params().get('hehe')}"></p>
<p th:text="${context.get('haha')}"></p>
<p>Please select an option</p>
<ol>
    <li><a href="product/list.html" th:href="@{~/spot_detail/aaaaaaa(orderId=${context.request().params().get('id')})}">Product List</a></li>
</ol>
<div th:if="${3+1+2 == 4}">
    条件为false，不显示
</div>
<div th:if="${3+1+2 == 6}">
    条件为true，显示
</div>

<div th:class="3+2">
    sadflsajkf;
</div>
<img src="/static/images/step2.png">
</body>
</html>